Repository COS301-SE-2022/TradeSim, pull requests merged in 2022-05, with the labels that each got.

#16 (Backend):Uploading Demo API using SimFin
  apps/client/backend/API-demo-call/SimFinAPI.py
Labels: priority:low

#17 (Backend) Adding Finnhub Api demo
  README.md
  apps/client/backend/API-demo-call/FinnhubAPI
Labels: priority:low, Backend

#18 Update and rename FinnhubAPI to FinnhubAPI.py
  apps/client/backend/API-demo-call/FinnhubAPI.py
Labels: priority:low, Backend

#19 (Backend) : Update to the SimFinAPI
  apps/client/backend/API-demo-call/SimFinAPI.py
Labels: priority:low, Backend

#20 Created Login and Sign Up pages with routing
  apps/client/static/styles/login.css
  apps/client/templates/login.html
  apps/client/templates/signup.html
  main.py
Labels: enhancement, UI, priority:medium

#22 (Backend) : Files added for simfin
  apps/client/backend/API-demo-call/IndustrySector.py
  apps/client/backend/API-demo-call/SimFinAPI.py
  apps/client/backend/databases/industries.csv
  apps/client/backend/databases/readme
Labels: priority:medium, Backend

#26 (BackEnd) : Update and Creation to all files
  .idea/.gitignore
  .idea/TradeSim.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  apps/client/backend/API-demo-call/SimFinAPI.py
  apps/client/backend/API-demo-call/__pycache__/IndustrySector.cpython-39.pyc
Labels: enhancement, priority:high, Backend

#27 (Frontend) added add.html and set.html files
  apps/client/templates/add.html
  apps/client/templates/set.html
Labels: UI, priority:high

#31 (Backend) : Creation and update of Files
  apps/client/backend/API-demo-call/FinnhubAPI.py
  apps/client/backend/API-demo-call/RunFileMain.py
  apps/client/backend/API-demo-call/SimFinAPI.py
  apps/client/backend/API-demo-call/__pycache__/FinnhubAPI.cpython-39.pyc
  apps/client/backend/API-demo-call/__pycache__/SimFinAPI.cpython-39.pyc
Labels: enhancement, priority:medium, Backend

#33 (Backend) : Completed first demo ETF
  apps/client/backend/API-demo-call/FinnhubAPI.py
  apps/client/backend/API-demo-call/RunFileMain.py
  apps/client/backend/API-demo-call/__pycache__/FinnhubAPI.cpython-39.pyc
Labels: priority:high, Backend

#35 Updated Logo to White and Routing from Login to Set Rules Page
  apps/client/templates/login.html
  apps/client/templates/signup.html
Labels: UI, priority:medium, Frontend

#36 (Backend) : Added ability to add specific stocks
  apps/client/backend/API-demo-call/RunFileMain.py
  apps/client/backend/API-demo-call/SimFinAPI.py
  apps/client/backend/API-demo-call/__pycache__/SimFinAPI.cpython-39.pyc
Labels: priority:medium, Backend

#37 (Frontend): edited html template
  apps/client/templates/home.html
  apps/client/templates/set.html
Labels: UI, priority:high

#38 (Backend) : Added testing file
  apps/client/backend/API-demo-call/FinnhubAPI.py
  apps/client/backend/API-demo-call/RunFileMain.py
  apps/client/backend/API-demo-call/__pycache__/FinnhubAPI.cpython-39.pyc
  apps/client/backend/API-demo-call/__pycache__/SimFinAPI.cpython-39.pyc
  apps/client/backend/API-demo-call/test.py
Labels: priority:high, Backend, Testing

#42 (Backend): Added the rules with codes
  apps/client/backend/API-demo-call/FinnhubAPI.py
  apps/client/backend/rules.txt/AiPi Rules
  apps/client/backend/rules.txt/RulesCode
Labels: documentation, priority:high, Backend, Frontend
