Repository COS301-SE-2022/TradeSim, pull requests merged in 2022-06, with the labels that each got.

#44 (Backend) : Creation of first function
  apps/client/backend/backend.py
Labels: priority:high, Backend

#43 Created Sidenav
  apps/client/static/styles/main.css
  apps/client/templates/addETF.html
Labels: priority:medium, Frontend

#72 (Backend) : Added functionality for post requests
  apps/Backend/Backend.py
  apps/client/backend/backend.py
Labels: priority:low, Backend

#73 Created the 'Create ETF' template page
  apps/client/static/styles/main.css
  apps/client/templates/addETF.html
Labels: priority:medium, Frontend

#74 (BackEnd) : Connection Between frontend and backend
  apps/Backend/Backend.py
Labels: priority:low, Backend

#75 (Backend) Create dbpass.py
  apps/Backend/Backend.py
  apps/Backend/dbpass.py
Labels: priority:high, Backend

#76 (BackEnd) : List All Companies and Market Cap
  .gitignore
  apps/Backend/Backend.py
  apps/Backend/__pycache__/apiCalls.cpython-39.pyc
  apps/Backend/__pycache__/dbpass.cpython-39.pyc
  apps/Backend/apiCalls.py
Labels: Backend

#77 (BackEnd) : Added Share, Earning
  .gitignore
  apps/Backend/Backend.py
  apps/Backend/__pycache__/apiCalls.cpython-39.pyc
  apps/Backend/__pycache__/dbpass.cpython-39.pyc
  apps/Backend/apiCalls.py
  apps/Backend/dbpass.py
Labels: priority:medium, Backend

#78 (BackEnd) : Added functions Sector/Industry and Country.
  apps/Backend/Backend.py
  apps/Backend/__pycache__/apiCalls.cpython-39.pyc
  apps/Backend/__pycache__/dbpass.cpython-39.pyc
  apps/Backend/apiCalls.py
Labels: Backend

#79 (Backend) : Addition to Files
  .gitignore
  apps/Backend/Backend.py
  apps/Backend/ETF.py
  apps/Backend/Notes For Prioritize
  apps/Backend/__pycache__/ETF.cpython-39.pyc
  apps/Backend/__pycache__/apiCalls.cpython-39.pyc
  apps/Backend/__pycache__/dbpass.cpython-39.pyc
  apps/Backend/apiCalls.py
Labels: priority:high, Backend

#80 (BackEnd) : Added the functionality that gets how many stocks to purc…
  apps/Backend/Backend.py
  apps/Backend/ETF.py
  apps/Backend/Notes For Prioritize
  apps/Backend/__pycache__/ETF.cpython-39.pyc
Labels: Backend

#86 Created Mock Home Page and added Logout Button
  apps/client/static/styles/main.css
  apps/client/templates/addETF.html
  apps/client/templates/home.html
  apps/client/templates/login.html
  apps/client/templates/signup.html
  main.py
Labels: priority:medium, Frontend
