Repository COS301-SE-2022/TradeSim, pull requests merged in 2022-08, with the labels that each got.

#139 (frontend) uploaded info.html
  apps/client/templates/info.html
Labels: Frontend

#140 (Backend) : Implementation of individual ticker
  apps/Backend/AutomatedTesting.py
  apps/Backend/Backend.py
  apps/Backend/__pycache__/ETF.cpython-39.pyc
  apps/Backend/__pycache__/apiCalls.cpython-39.pyc
  apps/Backend/__pycache__/info.cpython-39.pyc
  apps/Backend/__pycache__/unitTesting.cpython-39.pyc
  apps/Backend/apiCalls.py
  apps/Backend/info.py
  apps/Backend/unitTesting.py
Labels: priority:medium, Backend

#150 (Backend) : Implementation of backend
  apps/Backend/Backend.py
  apps/Backend/ETF.py
  apps/Backend/__pycache__/ETF.cpython-39.pyc
  apps/Backend/__pycache__/apiCalls.cpython-39.pyc
  apps/Backend/__pycache__/info.cpython-39.pyc
  apps/Backend/apiCalls.py
  apps/Backend/info.py
Labels: Backend

#158 Created Ticker Page with search
  apps/client/static/ticker.js
  apps/client/templates/ticker.html
Labels: priority:medium, Frontend
